:root {
  --blue: #3c60c3;
  --darker-blue: #2a4db1;
  --darkest-blue: #1a3da1;
  --shadow: #c2c2c2;
  --shadow-hover: #d2d2d2;
  --regular-hover: #b2b2b2;
  --project-height: 178px;
  --project-width: 400px;
  --padding-width: 20vw;
  --ani-time: 600ms;
  font-size: 13.5px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html,
body {
  color: black;
  background-color: rgb(220, 220, 220);
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.04em;
  scroll-behavior: smooth;
}
.bold {
  font-size: 1.1em;
  font-weight: bold;
}
button {
  /* for chrome */
  outline: none;
}

/* HEADER */
#personal {
  color: white;
  background-color: var(--blue);
  padding: 3em var(--padding-width);
  display: grid;
  grid-template-columns: 1fr;
}
#headshot {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background-color: red;
  background-color: var(--darker-blue);
  width: fit-content;
  margin: 1em auto 0;
  padding: 1em 4em 0.8em;
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px var(--darkest-blue);
  animation: var(--ani-time) ease-in 0s 1 fadeIn;
}
#headshot div:first-of-type {
  height: 100px;
  width: 100px;
  background-image: url("./assets/boardslide_crop.png");
  background-size: cover;
  background-position: top;
  border-radius: 50%;
}
#headshot h1,
#headshot h2 {
  text-align: center;
  font-weight: normal;
}
#headshot h1 {
  font-size: 2rem;
  margin: 0.25em 0 0.15em;
}
#headshot h2 {
  font-size: 1.3rem;
  margin: 0;
}
#headshot h1 a img {
  height: 25px;
  width: 25px;
}
#link-contact {
  width: 6rem;
  border-radius: 0 0 25px 25px;
  padding: 0 2em;
  background-color: var(--darkest-blue);
  border: 4px solid var(--darkest-blue);
  margin: 0 auto;
  box-shadow: 0px 2px 2px 0px var(--darkest-blue);
  text-align: center;
  animation: var(--ani-time) ease-in 0s 1 fadeIn;
}
#link-contact button {
  color: white;
  background-color: var(--darkest-blue);
  border: none;
  font-size: 1.05rem;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  /* text-transform: uppercase; */
  transition: 200ms;
}
#link-contact:hover,
#link-contact button:hover {
  cursor: pointer;
}
#link-contact:hover button {
  color: var(--shadow);
}
#personal hr {
  border: 1px dashed white;
  width: 80%;
  margin: 2em auto;
}
#bio {
  margin-top: 3.5em;
  text-align: center;
  animation: var(--ani-time) ease-in 0s 1 fadeIn;
}
#bio h1 {
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0 auto 1.5em;
}
#bio p {
  font-size: 1.15em;
  margin: 1.5em auto;
  padding: 0 15vw;
}
#bio p:last-of-type {
  margin-bottom: 1em;
}
.emoji {
  height: 1.1em;
  width: 1.1em;
  margin: 0 0.05em 0 0em;
  vertical-align: -0.15em;
}

/* PROJECTS */
#projects-headline {
  color: var(--blue);
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  margin: 1.5em auto;
  animation: var(--ani-time) ease-in 0s 1 fadeIn;
}
#projects {
  padding: 1em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  justify-items: center;
  animation: var(--ani-time) ease-in 0s 1 fadeIn;
}
/* #projects .project:nth-child(2), */
/* #projects .project:nth-child(4) { */
#projects .project:nth-child(even) {
  justify-self: start;
}
/* #projects .project:nth-child(1), */
/* #projects .project:nth-child(3) { */
#projects .project:nth-child(odd) {
  justify-self: end;
}
.project,
#blog {
  width: var(--project-width);
}
.box,
#blog {
  box-shadow: 8px 8px 1px 0px var(--shadow);
  transition: 300ms;
}
.box {
  padding: 0;
  margin: 0 0 1em 0;
}
.box:hover,
#blog:hover {
  box-shadow: 8px 8px 1px 0px var(--shadow-hover);
}
.box h1,
#blog {
  font-size: 1.3em;
  font-weight: normal;
  text-align: center;
  color: white;
  background-color: var(--blue);
  margin: 0;
  padding: 0.2em;
}
.project p {
  padding-left: 1em;
  font-size: 1.05em;
}
.project p a {
  color: var(--blue);
  font-size: 0.99em;
  font-weight: 700;
  text-decoration: none;
}
.picture {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: var(--project-height);
  width: var(--project-width);
}
.box:hover .picture,
.overlay {
  text-align: center;
  background-color: var(--regular-hover);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 0;
  align-content: center;
  justify-content: center;
  background-image: none !important;
}
.picture a img {
  display: none;
}
.box:hover .picture a img {
  display: inline-block;
}
.tech-tags {
  padding-left: 1em;
  margin: 1em 0;
  font-size: 1.02em;
}
.tech-tags p {
  display: inline-block;
  color: var(--blue);
  border: 1px solid var(--blue);
  padding: 0.1em 0.5em;
  margin: 0.1em auto;
  text-transform: uppercase;
  font-size: 0.85em;
}
#rr-img {
  background-image: url("./assets/showcase-rr-summary.png");
  background-size: cover;
}
#hibi-img {
  background-image: url("./assets/showcase-hibi.png");
  background-size: cover;
}
#contact-us-img {
  background-image: url("./assets/showcase-contact-us.png");
  background-size: cover;
}
#patents-img {
  background-image: url("./assets/showcase-patents.png");
  background-size: cover;
}
.icon {
  height: 110px;
  width: 110px;
}
.project a:first-of-type .icon {
  padding-left: 1em;
}
#rr p:last-of-type {
  margin: 0 auto;
}
#blog {
  display: block;
  text-decoration: none;
  margin: 0.5em auto 2em;
  padding: 0.2em 0;
}
#blog:hover {
  color: black;
  background-color: var(--regular-hover);
}

/* CONTACT */
#contact {
  padding: 1.5em var(--padding-width) 2em;
  background-color: #ccc;
  text-align: center;
  font-size: 1.25em;
}
#contact h1 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0 auto;
  animation: var(--ani-time) ease-in 0s 1 fadeIn;
}
#contact p {
  margin: 0.7em auto 2em;
  animation: var(--ani-time) ease-in 0s 1 fadeIn;
}
#contact a {
  margin: 0.1em;
  animation: var(--ani-time) ease-in 0s 1 fadeIn;
}
#contact .icon {
  height: 45px;
  width: 45px;
}
#email {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5em auto 0.7em;
}
#email p {
  display: inline-block;
  margin: 0;
  margin-right: 0.3em;
}
#email button {
  /* width: fit-content; */
  padding: 0;
  margin: 0;
  background-color: #ccc;
  border: none;
}
#email button img {
  height: 34px;
  width: 34px;
}
#email button:hover,
#email button:focus {
  cursor: pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  --width: 90px;
  width: var(--width);
  background-color: #157efb;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 12px 0;
  border-radius: 6px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: calc(
    var(--width) / -2
  ); /* Use half of the width (120/2 = 60), to center the tooltip */
  margin-bottom: 5px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* BREAKPOINTS */
@media (max-width: 600px) {
  :root {
    --project-height: 130px;
    --project-width: 290px;
    --padding-width: 2vw;
    font-size: 12.8px;
  }
  html,
  body {
    font-size: 0.99em;
  }
  #personal {
    padding: 1.5em var(--padding-width) !important;
  }
  #bio p {
    padding: 0 2vw;
  }
  #projects-headline {
    margin: 1em auto 0 !important;
  }
  #projects {
    margin-top: 1em;
    padding-bottom: 0.5em;
  }
  .box,
  #blog {
    box-shadow: 4px 4px 1px 0px var(--shadow);
  }
  .box:hover,
  #blog:hover {
    box-shadow: 4px 4px 1px 0px var(--shadow-hover);
  }
  .box h1,
  #blog {
    font-size: 1.15em;
  }
  #contact {
    padding-top: 1em;
  }
  #contact h1 {
    margin-top: 0;
  }
  #contact .icon {
    height: 40px;
    width: 40px;
  }
  #email {
    margin-bottom: 2em;
  }
}
@media (max-width: 1000px) {
  :root {
    --padding-width: 5vw;
  }
  #personal {
    padding: 3em calc(var(--padding-width) + 2vw);
  }
  #projects {
    grid-template-columns: 1fr;
  }
  #projects .project {
    justify-self: center !important;
  }
}

.top-link {
  color: white;
}
